* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header, including logo */
header a {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

header a img {
  width: 40%;
}

/* Top Navigation Menu */
.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #150811;
  font-weight: 100;
  position: relative;
  padding: 8px;
  font-size: 1.4em;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition: color 0.3s;
}

/* Navigation menu animation */
nav a:hover {
  color: white;
  font-weight: 600;
}

nav a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #0cbaba;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
}

.hvr-sweep-to-right:hover {
  color: white;
}

nav a:hover:before {
  transform: scaleX(1);
}

/* Index body */
#mainbody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homeimage {
  width: 100%;
  padding-top: 10px;
}

h1 {
  text-align: center;
  padding: 30px;
  font-weight: 100;
  margin-top: 10px;
  font-size: 25px;
}

.tiles {
  width: 350px;
  height: 350px;
  margin: 20px;
  opacity: 70%;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 3px #0cbaba;
}

.tiles:hover {
  transform: scale(1.05);
}

.tilewrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #0cbaba;
}
.contact-form h1 {
  font-size: 30px;
  color: white;
}

.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 0;
  width: 340px;
  background-color: #f6f6f6;
  padding: 10px 20px;
}
.input:hover {
  background-color: white;
}

#message {
  border: 0;
  width: 340px;
  height: 100px;
  background-color: #f6f6f6;
  padding: 10px 20px;
}
#message:hover {
  background-color: white;
}

#submit {
  width: 340px;
  height: 40px;
  font-size: large;
  border: 0;
  color: white;
  background-color: #150811;
  margin-bottom: 50px;
}
#submit:hover {
  background-color: #333333;
}

label {
  font-size: large;
}

/* Footer */
footer {
  width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #0cbaba;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  display: flex;
  width: 50px;
  padding: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

footer p {
  padding-left: 10px;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .contact-form {
    max-width: 95%;
  }
}
@media screen and (min-width: 768px) {
  nav a {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  header a img {
    width: 20%;
  }
  nav a {
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav {
    padding-left: 300px;
    padding-right: 300px;
  }
  .homeimage {
    width: 85%;
  }
}/*# sourceMappingURL=styles.css.map */